<% @conferences.each do |c| %>
<div class="container">
	<div id="conference-jumbotron" class="jumbotron" style=" width: 100%; background-size: cover; background-image: url(<%= asset_path c.image %>);">
		<div id="jumbotron-footer" class="row">
			<h1 id="conference-name" class="row	"><%= c.name %>
			</h1>
			<h4 class="text-center"><%= c.start_date %> - <%= c.end_date %></h4>
		</div>
	</div>
	<!-- Placeholder events (will have < % c.events.each % >) -->
	<div class="event-list">
		<div class="row">
			<div class="col-sm-3 text-left">
				<img src="http://hypefreshmag.com/wp-content/uploads/2015/06/beer-genes-app-will-help-people-pick-beers.jpg" height="245
				" width="245
				" class="event-image">
			</div>
			<div class="col-sm-3 text-left">
				<img src="http://www.fodors.com/wire/theme-park-tips.jpg" height="245
				" width="245
				" class="event-image">
			</div>
			<div class="col-sm-3 text-left">
				<img src="http://barfblog.com/wp-content/uploads/2012/06/gleneagles_bar3_large.jpg" height="245
				" width="245
				" class="event-image">
			</div>
			<div class="col-sm-3 text-left">
				<img src="http://barfblog.com/wp-content/uploads/2012/06/gleneagles_bar3_large.jpg" height="245
				" width="245
				" class="event-image">
			</div>
		</div>
	</div>
	<hr>
</div>
<% end %>