<div class="container centered">
	<div class="row">
		<h1>atCon</h1>
		<br><br>
		<h4>Going to a conference in a new city? Interested in familiarizing yourself with local hotspots and meeting new people? Looking for childcare options? Want to grab a drink after a long day in the convention hall?<br><br><br>atCon has got you covered! atCon is your one-stop social network, bringing conference attendees together, and giving them a platform to communicate, network, and socialize.<br><br><br>Feel free to browse the confereces we are sponsoring, take a look at what other conference attendees are planning extracurricularly, and host your own event for other conference attendees to join!<br><br><br>atCon was created by four new web developers in four days of their web development immersive program at General Assembly; and just nine weeks in to when they starting writing code:</h4>
		<%= image_tag("team.jpg", class: "about-image") %>
		<ul id="about-ul">
			<li><a href="http://www.sswbelser.com">Sabastian Belser</a></li>
			<li><a href="https://github.com/owl975">Matt Gomez</a></li>
			<li><a href="https://github.com/Kara9125">Kara Nicholas</a></li>
			<li><a href="https://github.com/goodbedford">Bedford Williamson</a></li>
		</ul>
	</div>
</div>