<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <hr>
    <%= form_for @post do |f| %>

    <div class="form-group">
      <label for="body">Post</label>
      <%= f.text_area :body, placeholder: "Enter post.", autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <%= f.file_field :image %>
      <p class="help-block">Image is optional</p>
    </div>
    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>